<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>번역 페이지</title>
</head>
<body>
<h1>네이버 파파고 번역기</h1>

<form action="#" th:action="@{/papago}" method="post">
  <label for="korean">한국어:</label>
  <input type="text" id="korean" name="korean" th:value="${koreanText}"><br>

  <label for="english">번역된 영어:</label>
  <input type="text" id="english" name="english" th:value="${englishText}" readonly><br>

  <input type="submit" value="번역하기">
  <li><a th:href="@{'/'}">홈으로</a></li>
</form>
</body>
</html>